<section class="section-pay">
    <div class="container">
        <h2 class="display-4 text-center">
            Registration
        </h2>
        <h3 class="text-muted text-center"><small>Choose Your Fundraising Goal</small></h3>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="mt-wrap p-2">
                    <div class="marathon-type">
                        <h3>HALF MARATHON</h3>
                        <div class="plan-price">
                            <span class="doll-sign">$</span><span class="price-numb">1200</span>
                        </div>
                        <p>1 half marathon package</p>
                        <hr>
                        <p class="pack-incl">Each package includes</p>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-check"></i> 1 Plane ticket</li>
                            <li><i class="fas fa-check"></i> T-shirt</li>
                            <li><i class="fas fa-check"></i> Number bib</li>
                            <li><i class="fas fa-check"></i> Water canteen</li>
                        </ul>
                        <button class="button-donate">Choose $1,800 Goal</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="mt-wrap p-2">
                    <div class="marathon-type">
                        <h3>FULL MARATHON</h3>
                        <div class="plan-price">
                            <span class="doll-sign">$</span><span class="price-numb">3600</span>
                        </div>
                        <p>1 full marathon package</p>
                        <hr>
                        <p class="pack-incl">Each package includes</p>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-check"></i> 1 Plane ticket</li>
                            <li><i class="fas fa-check"></i> T-shirt</li>
                            <li><i class="fas fa-check"></i> Number bib</li>
                            <li><i class="fas fa-check"></i> Water canteen</li>
                        </ul>
                        <button class="button-donate">Choose $3,600 Goal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>